<h3>名前</h3>
<%= @user.name %>
<h3>メールアドレス</h3>
<%= @user.email %>
<h3>自己紹介</h3>
<%= @user.bio %>
<% if @user == current_user %>
  <h3>郵便番号</h3>
  <%= @user.postal_code %>
  <h3>住所</h3>
  <%= @user.address %>
  <%= link_to 'Edit', edit_user_registration_path(current_user) %>
<% end %>
